

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700|Source+Code+Pro:300,400,700';
@import 'https://use.fontawesome.com/releases/v5.7.2/css/all.css';
@import 'components/buttons.css';
@import 'components/layouts.css';
@import 'components/cards.css';
@import 'components/social.css';
@import 'components/avatar.css';
@import 'components/navbar.css';


body {
  font-family: 'Lato', sans-serif;
  background-image: url('../img/bg-graffiti.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  overflow-y: scroll;
  height: 100vh;
}

h1, h2, h3 {
  font-family: 'Source Code Pro', monospace;
}

h2 {
  font-size: 32px;
  color: #808080;
  margin: 24px 0;
}

h3 {
  font-size: 20px;
}

.tagline {
  font-size: 24px;
  color: #808080;
  font-family: 'Source Code Pro', monospace;
}



.full-height {
  height: 100vh;
  background-color: #fafafa;
}

.ruby-icon {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

html.sr .load-hidden {
    /*visibility: hidden;*/
}















