.section {
  height: 200px;
}

.card-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

/*@media  (max-width : 480px) {
  .card-grid {
    grid-template-columns: auto;
  }
}
*/
@media (max-width : 768px) {
  .card-grid {
    grid-template-columns: auto;
  }
}
