.jg-spacer {
  height: 160px;
}

.jg-section {
  background-color: #fafafa;
  padding: 24px 0;
}



.footer {
  background: #FACD49;
  padding: 24px 0;
}

.footer h2 {
  color: #fff;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'click-img click-desc' 'gaptools-desc gaptools-img' 'tnr-img tnr-desc' 'baldo-desc baldo-img';
}

@media ( max-width: 768px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-areas: 'click-img' 'click-desc' 'gaptools-img' 'gaptools-desc' 'tnr-img' 'tnr-desc' 'baldo-img' 'baldo-desc' ;
  }
}

.grid-item {
  padding: 16px;
}

.click-desc {
  grid-area: click-desc;
}

.click-img {
  grid-area: click-img;
}

.gaptools-desc {
  grid-area: gaptools-desc;
}

.gaptools-img {
  grid-area: gaptools-img;
}

.baldo-desc {
  grid-area: baldo-desc;
}

.baldo-img {
  grid-area: baldo-img;
}

.tnr-desc {
  grid-area: tnr-desc;
}

.tnr-img {
  grid-area: tnr-img;
}
