.jg-spacer {
  height: 200px;
}

.jg-section {
  background-color: #fafafa;
  padding: 24px 0;
}

.card-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer {
  background: #FACD49;
  padding: 24px 0;
}

.footer h2 {
  color: #fff;
}
/*@media  (max-width : 480px) {
  .card-grid {
    grid-template-columns: auto;
  }
}
*/
@media (max-width : 768px) {
  .card-grid {
    grid-template-columns: auto;
  }
}
