nav {
  position: fixed;
  background: #fafafa;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

nav a {
  margin-left: 16px;
  padding: 8px 16px;
  color: #000;
  transition: 0.3s;
}

nav a:hover {
  color: #000;
  opacity: 0.5;
  text-decoration: none;
}

.active {
  /*border-bottom: 3px solid #FACD49;*/
}
